<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BaseUrl" value="http://web5qa:8092" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="DatabaseName" value="LearnerRater-AutomatedTest-Sarah" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="SnapShotName" value="LearnerRater-AutomatedTest-Sarah-20170710" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  </appSettings>
  <connectionStrings>
    <add name="ClientDatabase" connectionString="data source=LearnerRaterAlias;initial catalog=LearnerRater-AutomatedTest-Sarah;integrated security=false;User ID=LearnerRater-AutomatedTest-Sarah;Password=LearnerRater-AutomatedTest-Sarah;MultipleActiveResultSets=True" xdt:Locator="Match(name)" xdt:Transform="Replace" />
  </connectionStrings>
</configuration>